langchain-core
langchain-ollama
langchain-groq
langchain
langchain-community
langgraph
dotenv
curl-cffi
kaggle
quart
quart_cors
pymupdf
pdfplumber
pypdf
coqui-tts 
torchaudio
transformers==4.56.0
torch
torchcodec
tiktoken
sentencepiece